$color1: rgb(217,245,232);
$color2: rgb(55, 203, 194);
$color3: rgb(255, 187, 51);
$color4: rgb(255, 99, 71);
$amount: 5%;

$colors: (
  'color1': $color1,
  'color2': $color2,
  'color3': $color3,
  'color4': $color4
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
}

@each $color, $rgb in $colors {
  .#{$color} {
    background-color: $rgb;
  }
  .tint1-#{$color} {
    background-color: lighten($rgb, $amount);
  }
  .tint3-#{$color} {
    background-color: darken($rgb, $amount);
  }
  .blend1-#{$color} {
    background-color: mix($color1, $rgb, 35%);
  }
  .blend2-#{$color} {
    background-color: mix($color2, $rgb, 35%);
  }
  .blend3-#{$color} {
    background-color: mix($color3, $rgb, 35%);
  }
  .blend4-#{$color} {
    background-color: mix($color4, $rgb, 35%);
  }
}

h1 {
  width: 90%;
  margin: 0 auto 0 auto;
  border-bottom: 1px solid black;
}

.primary-colors, .tints, .generate {
  padding: 20px 5%;
  overflow: auto;
}

.primary-colors h3 {
  margin-bottom: 20px;
}

.color-content {
  width: 20%;
  margin-right: 4%;
  float: left;
}

.color-content:first-of-type, .color-content:nth-of-type(4n+5) {
  margin-left: 4%;
}

.swatch {
  height: 150px;
  width: 100%;
  margin: 10px 0;
}

.color-info span {
  float: right;
}

.swatch > * {
  float: left;
}

.tints h3, .tints p, .generate h3, .generate p {
  margin-bottom: 10px;
}

.color-tint {
  overflow: auto;
}

.color-tint div {
  width: 33%;
  height: 150px;
}

.blend {
  height: 50px;
  width: 100%;
  margin: 10px 0;
}
