$color1: rgb(217,245,232);
$color2: rgb(55, 203, 194);
$color3: rgb(255, 187, 51);
$color4: rgb(255, 99, 71);
$amount: 5%;

.swatch {
  width: 20%;
  float: left;
  margin-right: 4%;
}

.color1-content, .color1-tint {
  margin-left: 4%;
}

.color {
  height: 150px;
  width: 100%;
}

.color1-content .color {
  background-color: $color1;
}

.color2-content .color {
  background-color: $color2;
}

.color3-content .color {
  background-color: $color3;
}

.color4-content .color {
  background-color: $color4;
}

.color-info span {
  float: right;
}

.swatch > * {
  float: left;
}

.color1-tint .tint1 {
  height: 150px;
  width: 33%;
  background-color: lighten($color1, $amount);
}

.color1-tint .tint2 {
  height: 150px;
  width: 33%;
  background-color: $color1;
}

.color1-tint .tint3 {
  height: 150px;
  width: 33%;
  background-color: darken($color1, $amount);
}
.color1-tint .tint1 {
  height: 150px;
  width: 33%;
  background-color: lighten($color1, $amount);
}

.color1-tint .tint2 {
  height: 150px;
  width: 33%;
  background-color: $color1;
}

.color1-tint .tint3 {
  height: 150px;
  width: 33%;
  background-color: darken($color1, $amount);
}

.color2-tint .tint1 {
  height: 150px;
  width: 33%;
  background-color: lighten($color2, $amount);
}

.color2-tint .tint2 {
  height: 150px;
  width: 33%;
  background-color: $color2;
}

.color2-tint .tint3 {
  height: 150px;
  width: 33%;
  background-color: darken($color2, $amount);
}

.color3-tint .tint1 {
  height: 150px;
  width: 33%;
  background-color: lighten($color3, $amount);
}

.color3-tint .tint2 {
  height: 150px;
  width: 33%;
  background-color: $color3;
}

.color3-tint .tint3 {
  height: 150px;
  width: 33%;
  background-color: darken($color3, $amount);
}

.color4-tint .tint1 {
  height: 150px;
  width: 33%;
  background-color: lighten($color4, $amount);
}

.color4-tint .tint2 {
  height: 150px;
  width: 33%;
  background-color: $color4;
}

.color4-tint .tint3 {
  height: 150px;
  width: 33%;
  background-color: darken($color4, $amount);
}
